{% with view_name=request.resolver_match.view_name namespace=request.resolver_match.namespace %}
<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a href="{% url 'core:home' %}" class="logo d-flex align-items-center">
      <h1 class="sitename">Active.</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'core:home' %}"{% if view_name == "core:home" %} class="active"{% endif %}>Home</a></li>
        <li><a href="{% url 'core:about' %}"{% if view_name == "core:about" %} class="active"{% endif %}>About</a></li>
        <li><a href="{% url 'core:services' %}"{% if view_name == "core:services" %} class="active"{% endif %}>Services</a></li>
        <li><a href="{% url 'portfolio:list' %}"{% if namespace == "portfolio" %} class="active"{% endif %}>Portfolio</a></li>
        <li><a href="{% url 'core:team' %}"{% if view_name == "core:team" %} class="active"{% endif %}>Team</a></li>
        <li><a href="{% url 'blog:list' %}"{% if namespace == "blog" %} class="active"{% endif %}>Blog</a></li>
        <li><a href="{% url 'contact:contact' %}"{% if view_name == "contact:contact" %} class="active"{% endif %}>Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

  </div>
</header>
{% endwith %}
