{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block meta_description %}Learn about Active: our mission, what drives us and the team behind our work.{% endblock %}
{% block body_class %}about-page{% endblock %}

{% block content %}
{% include "partials/page_title.html" with title="About" %}

{% include "partials/sections/about_2.html" %}

{% include "partials/sections/services.html" %}

{% include "partials/sections/stats.html" %}

{% include "partials/sections/team.html" %}

{% include "partials/sections/testimonials.html" with show_title=True %}
{% endblock %}
