{% extends "base.html" %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}
{% block meta_description %}{{ post.excerpt }}{% endblock %}
{% block body_class %}blog-details-page{% endblock %}

{% block content %}
{% url "blog:list" as blog_url %}
{% include "partials/page_title.html" with title="Blog Details" parent_title="Blog" parent_url=blog_url %}

<div class="container">
  <div class="row">

    <div class="col-lg-8">

      <!-- Blog Details Section -->
      <section id="blog-details" class="blog-details section">
        <div class="container">

          <article class="article">

            <div class="post-img">
              <img src="{% static post.image %}" alt="{{ post.title }}" class="img-fluid">
            </div>

            <h2 class="title">{{ post.title }}</h2>

            <div class="meta-top">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{{ post.get_absolute_url }}">{{ post.author.name }}</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{{ post.get_absolute_url }}"><time datetime="{{ post.published|date:'Y-m-d' }}">{{ post.published|date:"M j, Y" }}</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#blog-comments">8 Comments</a></li>
              </ul>
            </div><!-- End meta top -->

            <div class="content">
              {% include post.body_template %}
            </div><!-- End post content -->

            <div class="meta-bottom">
              <i class="bi bi-folder"></i>
              <ul class="cats">
                <li><a href="#">{{ post.category }}</a></li>
              </ul>

              <i class="bi bi-tags"></i>
              <ul class="tags">
                {% for tag in post.tags %}
                <li><a href="#">{{ tag }}</a></li>
                {% endfor %}
              </ul>
            </div><!-- End meta bottom -->

          </article>

        </div>
      </section><!-- /Blog Details Section -->

      {% include "blog/partials/demo_comments.html" %}

    </div>

    <div class="col-lg-4 sidebar">

      <div class="widgets-container">

        <!-- Blog Author Widget -->
        <div class="blog-author-widget widget-item">

          <div class="d-flex flex-column align-items-center">
            <img src="{% static post.author.photo %}" class="rounded-circle flex-shrink-0" alt="{{ post.author.name }}">
            <h4>{{ post.author.name }}</h4>
            <div class="social-links">
              <a href="https://x.com/#" aria-label="X"><i class="bi bi-twitter-x"></i></a>
              <a href="https://facebook.com/#" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/#" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://linkedin.com/#" aria-label="LinkedIn"><i class="bi bi-linkedin"></i></a>
            </div>

            <p>{{ post.author.bio }}</p>

          </div>
        </div><!--/Blog Author Widget -->

        <!-- Search Widget -->
        <div class="search-widget widget-item">

          <h3 class="widget-title">Search</h3>
          <form action="">
            <input type="text" aria-label="Search">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
          </form>

        </div><!--/Search Widget -->

        <!-- Recent Posts Widget -->
        <div class="recent-posts-widget widget-item">

          <h3 class="widget-title">Recent Posts</h3>

          {% for recent in recent_posts %}
          <div class="post-item">
            <h4><a href="{{ recent.get_absolute_url }}">{{ recent.title }}</a></h4>
            <time datetime="{{ recent.published|date:'Y-m-d' }}">{{ recent.published|date:"M j, Y" }}</time>
          </div><!-- End recent post item-->
          {% endfor %}

        </div><!--/Recent Posts Widget -->

        <!-- Tags Widget -->
        <div class="tags-widget widget-item">

          <h3 class="widget-title">Tags</h3>
          <ul>
            <li><a href="#">App</a></li>
            <li><a href="#">IT</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Mac</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Office</a></li>
            <li><a href="#">Creative</a></li>
            <li><a href="#">Studio</a></li>
            <li><a href="#">Smart</a></li>
            <li><a href="#">Tips</a></li>
            <li><a href="#">Marketing</a></li>
          </ul>

        </div><!--/Tags Widget -->

      </div>

    </div>

  </div>
</div>
{% endblock %}
